// Import page-specific CSS files here.
@import "home";

.flat-card {
  box-shadow: 10px 10px 8px #888888;
  margin: 10px;
    max-width: 500px;
  width: 100%;
}

.flat-card-image {
  background-image: url("https://source.unsplash.com/random");
}
.flat-card-content {
  background-color: rgb(226, 221, 221);

  text-align: left;
  padding: 10px;
}

.flat-card-footer {
  background-color: white;
  padding: 10px;
}
